.input-form {
  label {
    margin-left: 5px;
    margin-bottom: 5px;
  }
  input {
    border-radius: 10px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-action {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
  }
  .btn-cancel {
    background-color: red;
  }
}
